pandas==2.2.0              # For heavy data manipulation and joining CSVs
fastapi==0.110.0           # For our web server/API
uvicorn==0.27.1            # To run the FastAPI server
requests==2.31.0           # To fetch the external CISA KEV data
chromadb==0.4.24           # Our local vector database for NIST controls
sentence-transformers==2.5.1 # To convert text into embeddings locally
groq==0.4.2                # The LLM API client
python-dotenv==1.0.1       # To manage our environment variables securely
streamlit
python-dotenv